'context-menu':
  '.tree-view .directory': [
    {
      'label': 'Git Publish',
      'submenu': [
        {'label':'as Major', 'command': 'git-publish:major'},
        {'label':'as Minor', 'command': 'git-publish:minor'},
        {'label':'as Patch', 'command': 'git-publish:patch'},
      ]
    }
  ]
