'context-menu':
  '.tree-view .directory': [
    {
      'label': 'Git Publish',
      'submenu': [
        {'label':'as Major', 'command': 'package-publish:git-major'},
        {'label':'as Minor', 'command': 'package-publish:git-minor'},
        {'label':'as Patch', 'command': 'package-publish:git-patch'},
        {'label':'as Major (if changed)', 'command': 'package-publish:git-major-if'},
        {'label':'as Minor (if changed)', 'command': 'package-publish:git-minor-if'},
        {'label':'as Patch (if changed)', 'command': 'package-publish:git-patch-if'},
      ]
    },
    {
      'label': 'PPM Publish',
      'submenu': [
        {'label':'as Major', 'command': 'package-publish:ppm-major'},
        {'label':'as Minor', 'command': 'package-publish:ppm-minor'},
        {'label':'as Patch', 'command': 'package-publish:ppm-patch'},
        {'label':'as Major (if changed)', 'command': 'package-publish:ppm-major-if'},
        {'label':'as Minor (if changed)', 'command': 'package-publish:ppm-minor-if'},
        {'label':'as Patch (if changed)', 'command': 'package-publish:ppm-patch-if'},
      ]
    }
  ]
